.footer {
  background-color: $neutral-900;
  color: $neutral-0;
  background-image: url("../../image/pattern-dark-bg.svg");
}
.footer__review-container {
  padding-top: 8rem;
  padding-bottom: 6.4rem;
  text-align: center;
}

.review__title {
  width: 100;
  max-width: 685px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 4rem;
}

.footer__review__btn {
  border: 2px solid #ffffff;
  color: $neutral-0;
  padding-left: 2rem;
  margin-bottom: 2.4rem;
}

.footer__hero__memebers {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
}
// FOOTER 2START
.footer__media-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media-line {
}

.media__list {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  padding-bottom: 2.4rem;
  padding-top: 2.4rem;
}

.media {
}

.media__link {
}

.media__image {
}

@media screen and (max-width: 850px) {
  .footer__review-container {
    padding-top: 6.4rem;
  }
}

@media screen and (max-width: 500px) {
  .footer__review-container {
    padding-top: 4.8rem;
  }

  .review__title {
    font-size: 3.4rem;
  }

  .footer__media-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .media__list {
    padding-top: 2.4rem;
  }

  .media__text {
    padding-top: 2.4rem;
  }

  .header__hero__memebers__text {
    width: 100%;
    max-width: 221px;
    text-align: start;
  }
}
