.header {
  background-image: url("../../image/pattern-light-bg.svg"),
    url("../../image/pattern-glow.svg");
  background-repeat: repeat, no-repeat;
  background-position: center, top right -214px;
  padding-bottom: 8rem;
}
.header__logo {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}

.header__hero {
  padding-top: 4.8rem;
}

.header__hero__container {
  display: flex;
  align-items: center;
  gap: 6.4rem;
}

.header__hero__title {
  margin-bottom: 2.4rem;
  background: linear-gradient(107.24deg, #fea36f -11.37%, #062630 61.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header__hero__text {
  width: 100%;
  max-width: 570px;
  color: $neutral-700;
  margin-bottom: 3.2rem;
}

.header__hero-btn {
  border-color: $neutral-900;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  color: $neutral-900;
  background-color: $light-salmon-50;
  display: inline-flex;
  align-items: center;
  transition: 0.3s;
  margin-bottom: 2rem;
}

.header__hero-btn:hover {
  background-color: $light-salmon-500;
}

.header__hero__memebers {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.header__hero__memebers__starts {
  display: flex;
  margin-bottom: 4px;
}

.header__hero__image {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

@media screen and (max-width: 850px) {
  .header {
    background-position: center, bottom -300px left;
  }

  .header__hero {
    padding-top: 3.2rem;
  }

  .header__hero__container {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .header__hero-btn {
    font-size: 1.6rem;
  }

  .header__hero__title {
    font-size: 3.8rem;
  }
}
