.btn {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid $neutral-0;
  font-weight: 600;
}

.btn-text {
  display: flex;
}

.btn-text::after {
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("../images/icon-arrow-down.svg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  margin-left: 1.6rem;
}
